.custom-select {
  box-sizing: border-box;
  font-family: Geist, -apple-system, BlinkMacSystemFont, Roboto,
    "Helvetica Neue", arial, sans-serif;
  cursor: pointer;
  width: auto;
  height: 36px;
  text-align: center;
  background-color: black;
  color: white;
  font-size: 14px;
  text-transform: uppercase;

  &:hover {
    border-color: #feea01;
  }

  &:focus {
    border-color: #feea01;
    color: white;
    background-image: linear-gradient(
      90deg,
      hsl(0, 0%, 0%) 0%,
      hsl(55, 100%, 18%) 80%,
      hsl(55, 100%, 30%) 100%
    );
  }
}
