.container {
  display: flex;
  color: white;
  font-family: Geist, -apple-system, BlinkMacSystemFont, Roboto,
    "Helvetica Neue", arial, sans-serif;
}

.language {
  background-color: black;
  outline: 1px solid #767676;
  margin-right: 8px;
  flex: 1;
  text-align: center;
  font-size: 14px;
  text-transform: uppercase;
  align-self: center;
  padding: 6px;
}

.custom-select {
  flex: 3;
  cursor: pointer;
  text-align: center;
  background-color: black;
  color: white;
  font-size: 14px;
  text-transform: uppercase;
  padding: 5px;

  &:hover {
    border-color: #feea01;
  }

  &:focus {
    border-color: #feea01;
    color: white;
    background-image: linear-gradient(
      90deg,
      hsl(0, 0%, 0%) 0%,
      hsl(55, 100%, 18%) 80%,
      hsl(55, 100%, 30%) 100%
    );
  }
}
