@import "@nimbus-ds/styles/dist/index.css";
@import "@nimbus-ds/styles/dist/themes/dark.css";

body {
  position: relative;
  display: flex;
  background: rgb(0, 0, 0);
  background-image: url("../assets/background.jpg");
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  justify-content: center;
  padding: 8%;
  overflow: hidden;

  .app-container {
    display: flex;
    max-width: 350px;
    flex-direction: column;
    gap: 1rem;
  }

  .connection-cards {
    display: flex;
    flex-direction: row;
    :first-child {
      margin-right: 8px;
    }
  }

  .title {
    color: #e7d425;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 22px;
    text-align: center;
    line-height: 1.6;
    margin: 0;
    width: 100%;
  }

  .connection-card {
    .connection-card__content {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      gap: 0.5rem;
    }
  }
}
